.slider__wrap {
  display: flex;
  .slider__inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-left: solid 1px #e3e3e3;

    .slider__box {
      h2 {
        font-weight: bold;
        margin-top: 243px;
        margin-bottom: 113px;
        text-align: center;
      }

      .slider__recipes {
        width: 1479px;

        ul {
          display: flex;
          justify-content: space-between;
          background: #eee;
          width: 187px;
          height: 187px;

          li {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
