.ranking__wrap {
  display: flex;
  overflow: hidden;

  .ranking__inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    // padding-bottom: 45px;
    border-left: 1px solid #e0e0e0;
  }
}

.ranking__main {
  padding: 50px;
  padding-top: 50px;

  span {
    color: #999999;
    font-size: 30px;
    font-weight: bold;
  }

  h1 {
    font-size: 70px;
    font-weight: bolder;
    margin-top: 27px;
  }

  .ranking__desc {
    // width: 1477px;
    margin-top: 60px;

    .ranking__table {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;

      ul {
        li {
          width: 300px;

          &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            font-size: 5vw;
            color: #fff;
            background: #000;
            border-radius: 5px;
          }

          h2 {
            margin-top: 20px;
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
          }

          span {
            img {
              margin-bottom: 30px;
              margin-top: 14px;
              width: 144px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .ranking__wrap {
    .ranking__desc {
      width: 100%;
    }
    .ranking__table {
      width: 100%;
      ul {
        li {
          img {
          }
        }
      }
    }
  }
}
