.recipes__wrap {
  display: flex;
  .recipes__inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    // padding-bottom: 45px;
    border-left: solid 1px #e3e3e3;
    display: flex;
    // justify-content: center;
    .recipes__box {
      text-align: center;
      padding-top: 123px;
      padding-bottom: 73px;
      margin: 0 auto;
      img {
        width: 800px;
      }
      h2 {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        padding: 95px 0 80px 0;
      }
      p {
        text-align: left;
        padding-bottom: 176px;
        font-size: 20px;
        font-weight: 100;
        // border-bottom: 1px dashed #999999;
        position: relative;
        width: 1008px;
        height: 288px;
        border-bottom: 1px solid #e0e0e0;

        // &::before {
        //   content: '';
        //   position: absolute;
        //   top: 250px;
        //   left: -30px;
        //   width: 1008px;
        //   height: 1px;
        //   background: #e0e0e0;
        // }
      }
      .ong {
        margin-top: 60px;

        span {
          width: 100px;
          height: 100px;
          display: inline-block;
          padding: 17px;
          background: #64a70a;
          border-radius: 50%;
          padding-top: 32px;
          text-align: center;
          color: #fff;
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 73px;

          &:nth-child(1) {
            margin-right: 150px;
          }
          &:nth-child(2) {
            margin-right: 150px;
          }
        }
      }
      .chong {
        .box_row1 {
          display: flex;
          margin-bottom: 15px;

          .box1 {
            width: 477px;
            height: 70px;
            display: flex;
            background: #eee;
            border-radius: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 0 22px 0 22px;
            margin-right: 67px;

            div {
              &:nth-child(2) {
                color: #999;
                font-size: 18px;
              }
            }
          }
          .box2 {
            width: 477px;
            height: 70px;
            display: flex;
            background: #eee;
            border-radius: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 0 22px 0 22px;

            div {
              &:nth-child(2) {
                color: #999;
                font-size: 18px;
              }
            }
          }
        }
        .box_row2 {
          display: flex;
          margin-bottom: 15px;
          .box3 {
            width: 477px;
            height: 70px;
            display: flex;
            background: #eee;
            border-radius: 30px;
            justify-content: space-between;
            margin-right: 67px;
            align-items: center;
            padding: 0 22px 0 22px;

            div {
              &:nth-child(2) {
                color: #999;
                font-size: 18px;
              }
            }
          }
          .box4 {
            width: 477px;
            height: 70px;
            display: flex;
            background: #eee;
            border-radius: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 0 22px 0 22px;

            div {
              &:nth-child(2) {
                color: #999;
                font-size: 18px;
              }
            }
          }
        }
        .box_row3 {
          display: flex;
          .box5 {
            width: 477px;
            height: 70px;
            display: flex;
            background: #eee;
            border-radius: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 0 22px 0 22px;

            div {
              &:nth-child(2) {
                color: #999;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
